body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  border: 0;
}

.nav {
  padding: .5em 2em;
  background-color: #ea5455;
}

.logo {
  font-family: 'Pacifico', cursive;
  font-size: 2.5em;
  color: white;
}

.well {
  background-color: #ea5455;
  color: white;
  padding: 4em 0;
}

.well .container {
  width: 800px;
  margin: auto;
}

.well h1 {
  font-family: 'Pacifico', cursive;
  font-size: 4em;
  color: white;
  text-align: center;
  padding: .5em 0;
  font-weight: 400;
  margin: 0;
}

.well h2 {
  color: #faa;
  padding-bottom: 1em;
  margin: 0;
}

.well .code {
  background-color: #2d4059;
  color: white;
  padding: 20px;
  margin: 0;
  text-align: center;
  display: block;
  font-size: 20px;
}

.stat {
  display: inline-block;
  background-color: #f07b3f;
  width: 200px;
  margin: 10px;
  padding: 20px 10px;
  border-radius: 25px;
}

.stat-number {
  font-size: 1.5em;
  padding-bottom: 10px;
}

#content {
  width: 800px;
  margin: auto;
  font-size: 1.25em;
}

h2 {
  margin-top: 3em;
  text-align: center;
}

.code {
  border-radius: 10px;
  font-family: 'Source Code Pro', monospace;
  font-size: 20px;
  background-color: #eee;
  padding: 1em;
  margin: auto;
}

p {
  padding: 10px 0;
}

.arch {
  text-align: center;
}
